.footer {
    padding: 30px 20px;
    height: 70px;
    background-color: #f8f9fa;
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 8px;
    font-size: 40px;
}
.footer-sns {
    height: 30px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 좌우 스크롤 방지 */
    width: 100vw;
  }