.footer {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-sns {
    width: 2%;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 좌우 스크롤 방지 */
    width: 100%;
  }