.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    height: 70px;
    background-color: #f8f9fa;
}

.logo {
    height: 70px;
}

.nav {
    display: flex;
}

.nav-item {
    margin-left: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 20px;
}

.nav-item:hover {
    color: #1a715a;
}
