.image-scroller {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 400px; /* 적절한 높이 설정 */
    background-color: #f0f0f0; /* 배경색 설정 */
    cursor: grab;
}

.image-scroller:active {
    cursor: grabbing;
}

.scroller {
    display: flex;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
}

.image {
    width: 300px;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
}
