.mypage-container {
    padding: 30px;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .area {
    width: 200px; /* 고정된 너비 설정 */
    height: 300px; /* 고정된 높이 설정 */
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  .area:hover {
    background-color: #ddd;
  }
  