/* 예약 정보 섹션 스타일 */
.reservation-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .reservation-info h3 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .reservation-info p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
  }
  